/* .cNextImageContainer{
   width: 50%;
}

.cNextImageContainer > div {
    position: unset !important;
}

.cNextImageContainer .image{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
 } */
