@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

:root {
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fffcf7;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* .top-inset-shadow-sm {
  box-shadow: inset 0px 25px 26px -27px rgb(248, 241, 236);
} */

.dashboard-view{
  min-height: calc(100vh - 70px);
}
