@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

*{
    box-sizing: border-box;
}

body {
    background-color: #fffcf7;
}

@keyframes grow {
    0%   {transform: scale(0);}
    100% {transform: scale(1);}
  }

